<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcrypt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        .form-label {
            color: darkslategray;
        }
    </style>
</head>
<body style="background-color: darkgray">
    <div style="background-color: dimgray">
        <h1 style="color: lightgray; font-size: xxx-large; padding: 1%">Transcrypt</h1>
    </div>
    <form style="padding: 1%; padding-bottom: 0px" action="{{ url_for('transcribir') }}" method="POST" autocomplete="off" enctype="multipart/form-data">
        <div class="mb-3">
            <div style="padding: 1%">
                <label for="doc_input" class="form-label">Select a file to transcribe:</label>
                <input type="file" class="form-control form-control-lg" name="archivo" id="doc_input" accept=".pdf" aria-describedby="emailHelp" required style="cursor: pointer; background-color: lightgray">
            </div>
            <div style="padding: 1%; text-align: center">
                <input type="submit" class="btn btn-secondary btn-lg" value="Transcrypt" style="width: 50%">
            </div>
        </div>
    </form>
    {% if mostrar %}
    <div id="resp" style="padding: 2%; padding-top: 0px">
        <div style="padding: 1%; background-color: lightgray">
            <h1 class="form-label">The transcription is:</h1>
            <p class="form-label" id="transcription">{{ trascription }}</p>
            <div style="padding: 1%; text-align: center">
                <button class="btn btn-secondary" onclick="copiarAlPortapapeles()">Copy to clipboard</button>
                <form action="{{ url_for('download_txt') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="transcription" value="{{ trascription }}">
                    <button type="submit" class="btn btn-secondary">Download as .txt</button>
                </form>
                <form action="{{ url_for('download_docx') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="transcription" value="{{ trascription }}">
                    <button type="submit" class="btn btn-secondary">Download as Word</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        function copiarAlPortapapeles() {
            const texto = document.getElementById('transcription').innerText;
            navigator.clipboard.writeText(texto).then(() => {
                alert("Text copied to clipboard");
            }).catch(err => {
                console.error("Error while copying the text: ", err);
            });
        }
    </script>
</body>
</html>
